<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-ios" text-center>Image</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content >

    <img [src]="'data:image/jpeg;base64,'+this.image" class="picture" />

    <ion-list *ngIf="this.feature.value == 'TEXT_DETECTION' && this.result ">
        <ion-item><ion-label>Le text qui sort de cette image est:</ion-label></ion-item>
        <ion-item lines="none"><ion-label>Text </ion-label>{{this.result[0].description}}</ion-item>
    </ion-list>
    <ion-list *ngIf = "!this.result">
        <ion-item lines="none"><ion-label text-center>N'a trouvé aucune donnée correspondante</ion-label></ion-item>
    </ion-list>
</ion-content>
