img{
  height: 70vh !important;
  width: auto !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: auto !important;
  margin-top:10px;
  display: block !important;
  border: 1px solid #000;
  padding: 5px;
  border-radius: 4px;
  }
  .itemSection{
  display: flex;
  justify-content:center;
  align-items: center;
  width: 100%;
  }
  ion-content{
  background: #eee;
  }
