<!-- <ion-card>
  <ion-card-header>
    <ion-card-subtitle>Image</ion-card-subtitle>
    <ion-card-title>Votre image s'affiche ici</ion-card-title>
  </ion-card-header>

  <ion-card-content>

  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Matricule</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    Ex : CI001
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-icon name="folder" slot="start"></ion-icon>
  </ion-item>

  <ion-card-content>
    <ion-button expand="block">Importer une image</ion-button>
  </ion-card-content>
</ion-card> -->
<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item><h5>Selectionner une fonctionnalite</h5></ion-item>
  <ion-radio-group (ionChange)="radioGroupChange($event)">
      <ion-item>
        <ion-label>Détéction de texte</ion-label>
        <ion-radio value="TEXT_DETECTION"></ion-radio>
      </ion-item>
  </ion-radio-group>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="presentAlertConfirm()">
        <ion-icon name="camera">
        </ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
